.leaderboard {
	width: 980px;
	display: flex;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	.leaderboard_left{
		width: 240px;
		border-right: 1px solid #ccc;
		.item_header {
			margin: 10px 0;
		}
		.active {
			background-color: #bdc3c7;
		}
		.item_list {
			display: flex;
			cursor: pointer;
			padding: 10px 10px;
			box-sizing: border-box;
			img {
				margin-right: 10px;
			}
			.update_time {
				color: #ccc;
				font-size: 10px;
			}
		}
	}
	.leaderboard_right{
		flex: 1;
		padding: 30px;
		box-sizing: border-box;
		.leaderboard_right_header {
			display: flex;
			.header_coverImg {
				padding: 5px;
				border: 1px solid #bdc3c7;
			}
			.header_info {
				padding: 20px;
				.header_update_time {
					color: #7f8c8d;
				}
			}
		}
		.leaderboard_right_list_header {
			padding: 20px 0 0 0;
			border-bottom: 2px solid red;
			display: flex;
			justify-content: space-between;
			.list_length {
				display: flex;
				align-items: flex-end;
				span {
					margin-left: 20px;
					font-size: 10px;
					color: #ccc;
				}
			}
		}
		.play_list_table {
  .play-list {
    table {
      width: 100%;
      border: 1px solid #d9d9d9;
      thead {
        th {
          height: 34px;
          line-height: 34px;
          background-image: url(../../../../assets/img/sprite_table.png);
          color: #666;
          border: 1px solid #ddd;
          border-width: 0 0 1px 1px;
          padding-left: 10px;
        }
        .ranking {
          width: 78px;
          border-left: none;
        }
        .duration {
          width: 91px;
        }
        .singer {
          width: 173px;
        }
      }
      tbody {
        td {
          padding: 6px 10px;
        }
        tr:nth-child(2n) {
          background-color: #fff;
        }
        tr:nth-child(2n+1) {
          background-color: #f7f7f7;
        }
        .rank-num {
          display: flex;
          .num {
            width: 25px;
            height: 18px;
            text-align: center;
            color: #999;
          }
          .new {
            width: 16px;
            height: 17px;
            margin-left: 12px;
            background-position: -67px -283px;
          }
        }
        .song-name {
          display: flex;
          align-items: center;
          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
          .play {
            width: 17px;
            height: 17px;
            background-position: 0 -103px;
						cursor: pointer;
          }
          .name {
            margin-left: 10px;
          }
        }
      }
    }
  }
		}
	}
}
