.anchorstation {
	width: 980px;
	margin: 0 auto;
	box-sizing: border-box;
	.programme {
		display: flex;
		.menu_body {
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			margin: 0 10px;
		}
		.recommend_menu {
			flex: 1;
			.program_item {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				padding: 10px 20px;
				&:nth-child(even){
					background-color: #ecf0f1;
				}
				.item_channels {
					border: 1px solid #ccc;
					padding: 0 2px;
				}
				.program_info {
					margin: 0 20px;
					.program_name {
						width: 280px;
						overflow:hidden; 
						text-overflow:ellipsis; 
						white-space:nowrap;
					}
				}
			}
		}
		.toplist_menu {
			flex: 1;
			.top_list_item {
				display: flex;
				align-items: center;
				.item_rank {
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
				}
				.top_list_info {
					width: 280px;
					
				}
			}
		}
	}
}
