.recommend {
  .content {
    display: flex;
    margin: 0 auto;
    width: 984px;
    border-left: 1px solid #7f8c8d;
    border-right: 1px solid #7f8c8d;
    .recommend_left {
      width: 730px;
      padding: 0 15px;
      .recommend_song_list {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
      }
      .recommend_toplist {
        margin: 30px 0;
        display: flex;
        background: url(../../../../assets/img/recommend-top-bg.png) center no-repeat;
        height: 472px;
      }
    }
    .recommend_right {
      width: 254px;
      border-left: 1px solid #7f8c8d;
      box-sizing: border-box;
    }
  }
}
